@import "../../styles/variables";

.cardbox {
  align-items: flex-end;
  background-color: $shark;
  display: flex;
  justify-content: center;
  max-width: 801px;
  padding: 3rem;
  border-radius: 35px;
}

.photocard-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.photocard-container-1 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
@media only screen and (max-width: 800px) {
  .cardbox {
    padding: 0.5rem 0.5rem 2.5rem 0.5rem;
  }
  .photocard-container-1 {
    margin-left: 0.2rem;
  }
}
