@use "../../styles/variables" as var;

.advantage {
  color: var.$primary-color;

  background: rgba(0, 0, 0, 0.5);

  & img {
    overflow: hidden;
  }
  & h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    font-weight: 600;
  }
  &-flex {
    display: flex;
    justify-content: space-between;
  }
  &-right {
    text-align: right;

    flex: 1;
    & ul {
      list-style-type: none;
    }
    & li {
      font-size: clamp(1rem, 2vw, 1.5rem);
      background: var.$icon no-repeat right;
      background-position: 100% 0%;
      line-height: clamp(1rem, 2vw, 1.5rem);
      vertical-align: middle;
      font-weight: 400;
      padding: 1rem 3rem 1rem 1rem;
      margin: 0.5rem;
    }
  }
  &-left {
    flex: 1;
    & ul {
      list-style-type: none;
    }
    & li {
      font-size: clamp(1rem, 2vw, 1.5rem);
      background: var.$icon no-repeat;

      line-height: clamp(1rem, 2vw, 1.5rem);
      vertical-align: middle;
      font-weight: 400;
      padding: 1rem 0 1rem 3rem;
      margin: 0.5rem;
    }
  }
}
.shortName {
  color: var.$secondary-color;
}
.darker {
  background: rgba(0, 0, 0, 0.35);
}
@media only screen and (max-width: 800px) {
  .advantage {
    & ul {
      padding-left: 0.5rem;
    }
  }
  .photocard-container-1 {
    margin-left: 0.2rem;
  }
}
@media only screen and (max-width: 550px) {
  .advantage {
    & ul {
      padding-left: 0.5rem;
    }
    &-left {
      & li {
        background-size: 13%;
        padding: 0.5rem 0 0.5rem 2rem;
        margin: 0;
      }
    }
    &-right {
      & li {
        background-size: 13%;
        padding: 0.5rem 2rem 0.5rem 0rem;
        margin: 0;
      }
    }
  }
  .photocard-container-1 {
    margin-left: 0.2rem;
  }
}
