@use "../containers/body/body";
@use "../containers/navbar/navbar";
@use "../containers/header/header";
@use "../containers/footer/footer";
@use "../components/PhotoCard/photocard";
@use "../components/Section/section";
@use "../components/PhotosGrid.js/photosgrid";
@use "../components/AboutSection/aboutsection";
@use "../components/Advantage/advantage";
@use "../components/Accessories/accessories";
@use "../components/Decorations/decorations";
@use "../components/Inspired/inspired";
@use "../components/Customizer/customizer";
@import "./variables";
* {
  font-family: $font !important;
  margin: 0;
  //outline: 1px solid red;
}
.main {
  background: rgb(0, 0, 0);
  position: relative;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.329);
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
}
.carouselo-item {
  min-height: 40vw;
  min-width: 50vw;
  padding: 40px;
}
.carouselo-item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}
.inner-carouselo {
  display: flex;
}
.carouselo {
  cursor: grab;
  overflow: hidden;
}
.nav-link {
  max-width: 250px !important;
}
.borderr {
  border-radius: 25px;
}
.not-allowed {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
